
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1529264626825'); /* IE9*/
  src: url('iconfont.eot?t=1529264626825#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1529264626825') format('woff'),
  url('iconfont.ttf?t=1529264626825') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1529264626825#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before { content: "\e77d"; }

.icon-share:before { content: "\e7e7"; }

.icon-indent:before { content: "\e7f3"; }

.icon-outdent:before { content: "\e7f4"; }

.icon-menu:before { content: "\e7f5"; }

.icon-unorderedlist:before { content: "\e7f6"; }

.icon-orderedlist:before { content: "\e7f7"; }

.icon-align-right:before { content: "\e7f8"; }

.icon-align-center:before { content: "\e7f9"; }

.icon-align-left:before { content: "\e7fa"; }

.icon-pic-center:before { content: "\e7fb"; }

.icon-pic-right:before { content: "\e7fc"; }

.icon-pic-left:before { content: "\e7fd"; }

.icon-bold:before { content: "\e7fe"; }

.icon-font-colors:before { content: "\e7ff"; }

.icon-font-size:before { content: "\e800"; }

.icon-infomation:before { content: "\e801"; }

.icon-line-height:before { content: "\e802"; }

.icon-strikethrough:before { content: "\e803"; }

.icon-underline:before { content: "\e804"; }

.icon-number:before { content: "\e805"; }

.icon-italic:before { content: "\e806"; }

.icon-code:before { content: "\e807"; }

.icon-column-width:before { content: "\e808"; }

.icon-ellipsis:before { content: "\e809"; }

.icon-dash:before { content: "\e80a"; }

.icon-close:before { content: "\e80b"; }

.icon-enter:before { content: "\e80c"; }

.icon-line:before { content: "\e80d"; }

.icon-minus:before { content: "\e80e"; }

.icon-question:before { content: "\e80f"; }

.icon-plus:before { content: "\e810"; }

.icon-rollback:before { content: "\e811"; }

.icon-small-dash:before { content: "\e812"; }

.icon-bg-colors:before { content: "\e813"; }

