.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-bar {
  height: 22px;
  text-align: center;
  line-height: 22px;
  color: #CBCCCB;
  background: #3c3c3c;
  user-select: none;
  -webkit-app-region: drag;
}

.workbench {
  flex: 1;
}

.toolbar {
  padding: 8px;
  background: #252526;
}

.playground {
  display: flex;
  flex-direction: column;
}

.editor-container {
  flex: 1;
  padding: 20px 0;
  overflow: scroll;
}

.tool-sidebar {
  width: 400px;
}
