/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

body {
  margin: 0;
  padding: 0;
  color: #CBCCCB;
  background: #1E1E1E;
  font-size: 14px;
}

.ant-layout {
  background: #1E1E1E;
}

.ant-layout-sider {
  background: #333333;
}

.flex-row {
  display: flex;
}

.flex-row .left {}

.grid-row {
  display: flex;
}

.grid-row > * {
  flex: 1;
}
